<div id="products-banners">
	<p><strong>Banner Type:</strong></p>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder2.png"><br>Vinyl
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder1.png"><br>Static Clings
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder2.png"><br>Cart Banners
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder1.png"><br>Sponsor Boards
	</div>
</div>
<div class="row">
	Or<br>
	<button type="submit" class="btn btn-default">Start with a Blank Template</button>
</div>