<div id="products-prize">
	<p><strong>Prize Packages:</strong></p>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder1.png"><br>Closest to the Pin $180<br>Includes Odyssey White Hot Putter
	</div>
	<div class="col-sm-6 col-md-6 col-lg-6">	
		<img src="placeholder1.png"><br>Longest Drive $200<br>Includes Odyssey White Hot Putter
	</div>
	<div class="col-sm-12 col-md-12 col-lg-12">	
		<img src="placeholder1.png"><br>Longest Putt $150<br>Includes Odyssey White Hot Putter
	</div>
</div>
<div class="row">
	Or<br>
	<button type="submit" class="btn btn-default">Start with a Blank Template</button>
</div>